body {
  font-family: "Poppins", sans-serif !important;
  letter-spacing: 0.02em;
}
html {
  font-size: 100% !important;
}
@media (max-width: 600px) {
  html {
    font-size: 87.5% !important;
  }
}
.hero_bg {
  background-image: url("../asset/syed-ahmad-kgjQ1AGDwE0-unsplash.jpg");
  height: 65vh;
  position: relative;
  z-index: -2;
}
.hero_bg::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  background-image: linear-gradient(#9f9c9c00, black);
  z-index: -1;
}
@media (max-width: 992px) and (min-width: 768px) {
  .CUSTOMPADDING {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
}
@media (max-width: 768px) {
  .AdjustPosition {
    background-color: #000;
    padding: 20px 15px;
    border-top: 1px solid #211f1f;
    width: 100%;
    height: fit-content;
  }
  .hero_bg {
    height: 25vh;
    background-size: cover;
  }
}
.CUSTOMPADDING {
  @media (min-width: 768px) {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  @media (max-width: 768px) {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  @media (max-width: 576px) {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
.setWidth {
  padding: 0;
  li {
    list-style: none;
    width: auto;
    i {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
    }
  }
}

.hostelBG {
  background-image: url("../asset/kara-eads-L7EwHkq1B2s-unsplash.jpg");
  background-size: cover;
  height: 60%;
}
.BG-lightgreen {
  background-color: #62a748 !important;
}
.P-text-color {
  color: #808080;
}
.DETAILS > p {
  line-height: 27px;
  font-size: 0.9rem;
  color: rgb(102, 102, 102);
}
.SHADE,
.LIGHTSHADE {
  position: relative;
  display: inline-block;
}
.SHADE::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #62a748;
  left: 2%;
  top: 10%;
  position: absolute;
  z-index: -1;
}
.LIGHTSHADE::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #cccbcb91;
  left: 5px;
  top: 6px;
  position: absolute;
  z-index: -1;
}

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/utilities";
$utilities: (
  "text-color": (
    property: color,
    class: hr,
    values: (
      green: #429523,
      header-text-color: #16320c,
      body-text-color: #0d1e07,
      light-green: #62a748,
      dark-grey: #333333,
      grey1: #808080,
      grey2: #999999,
      p-color: rgb(102, 102, 102),
      empty-star: #cbcbcb,
    ),
  ),
  "background": (
    property: background-color,
    class: bg,
    values: (
      green: #429523,
      header-text-color: #16320c,
      body-text-color: #0d1e07,
      light-green: #62a748,
      dark-grey: #333333,
      grey1: #808080,
      grey2: #999999,
      grey3: rgb(251, 251, 251),
      light-grey: #f5f5f5,
      // light-grey: #ebebeb,
    ),
  ),
  "font-size": (
    property: font-size,
    class: cfs,
    values: (
      18: 1.125rem,
      15: 0.9375rem,
      14: 0.875rem,
    ),
  ),
  "border-color": (
    property: border-color,
    class: cbc,
    values: (
      light-green: #62a748,
    ),
  ),
  // "padding-x": (
  //   property: padding-right padding-left,
  //   responsive: true,
  //   class: cpd,
  //   values:
  //     map-merge(
  //       $spacers,
  //       (
  //         10: 10rem,
  //       )
  //     ),
  // ),,,,,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
