body {
  font-family: "Poppins", sans-serif !important;
  letter-spacing: 0.02em;
  background-color: #e5e5e585 !important;
  // background: #e5e5e5 !important;
}
html {
  font-size: 100% !important;
}
@media (max-width: 600px) {
  html {
    font-size: 87.5% !important;
  }
}
// HEADER
// .navbar-light .navbar-nav .nav-link {
//   color: #343f52 !important;
// }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}
//
.navbar .btn-group-sm > .btn,
.navbar .btn-sm {
  font-size: 0.8rem;
}

.navItems_links {
  display: block;
  padding: 1.2rem 1rem;
  // font-size: 0.8rem;
  font-weight: 700;
  color: #343f52;
  transition: all 0.2s ease-in-out;
  letter-spacing: -0.01rem;
  white-space: nowrap;
  text-decoration: none;

  &:hover {
    color: #429523 !important;
  }
}

.set_border_color {
  background-color: #429523 !important;
  border-radius: 0.4rem !important;
  transition: all 0.2s ease-in-out !important;
  border-color: #429523 !important;
  &:hover {
    transform: translateY(-0.15rem);
  }
}
.btn-group-sm > .btn,
.btn-sm {
  padding: 0.5rem 1rem !important;
}
.header_btn {
  font-weight: 700;
}
.rounded_post {
  border-radius: 0.4rem !important;
  color: #429523 !important;
  border-color: #429523 !important;
  transition: all 0.2s ease-in-out !important;
  &:hover {
    color: #fff !important;
    background-color: #429523 !important;
    transform: translateY(-0.15rem);
  }
}
//
.hamburger {
  display: inline-block;
  width: 24px;
  height: 22px;
  padding: 0;
  margin-left: 4px;
}
.plain {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  vertical-align: middle;
  border: 0 none;
  background: 0 0;
  padding: 0;
  margin: 0;
}
.hamburger > span {
  color: red;
}
.hamburger span,
.hamburger::after,
.hamburger::before {
  display: block !important;
  width: 100% !important;
  height: 3px !important;
  margin: 0 0 5px !important;
  transition: all 0.2s ease-in-out !important;
  background: #343f52 !important;
}
.hamburger::after,
.hamburger::before {
  content: "" !important;
}
//
@media (max-width: 991.98px) {
  // .offcanvas-nav.open {
  //   left: 0;
  //   visibility: visible;
  // }
  .offcanvas-nav {
    // position: fixed;
    // top: 0;
    // bottom: 0;
    // right: 100%;
    // left: -15rem;
    // width: 15rem;
    // padding-right: 0;
    // padding-left: 1.5rem;
    // padding-bottom: 0.5rem;
    // overflow-y: auto;
    // visibility: hidden;
    // background: #fff;
    // transition-timing-function: ease-in-out;
    // transition-duration: 0.3s;
    // transition-property: left, visibility;
    // transition: left 0.3s ease-in-out, visibility 0.3s ease-in-out;
    // align-items: start;
    // background-clip: padding-box;
    // z-index: 1041;
  }
}

// END OF HEADER
.mainBGColor {
  // background-color: #fefefe;
  @media (min-width: 1224px) {
    max-width: 1224px;
    margin: 0 auto;
  }
}
.hero_bg {
  background-image: url("../asset/deborah-cortelazzi-gREquCUXQLI-unsplash.jpg");
  background-size: cover;
  overflow-x: hidden;
}
.hero_bg::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 40%;
  position: absolute;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.99) 20%,
    rgba(255, 255, 255, 0.5) 70%,
    rgba(255, 255, 255, 0) 95%
  );
  @media (max-width: 992px) {
    display: none;
  }
}
.hostelBG {
  background-image: url("../asset/kara-eads-L7EwHkq1B2s-unsplash.jpg");
  background-size: cover;
  //   background-repeat: no-repeat;
  height: 60%;
}
.extendWidth {
  width: 75%;
  z-index: 1;
}
@media (max-width: 992px) {
  .extendWidth {
    width: 100%;
  }
  .changeBG {
    background-color: white;
  }
}
// .CUSTOMROW {
//   max-width: 1224px;
//   margin: 0 auto;
//   @media (max-width: 768px) {
//     margin-top: 3rem;
//   }
// }
// .CUSTOMROW > div {
//     min-width: 350px;
// }
.BG-green {
  background-color: #429523 !important;
}
.BG-lightgreen {
  background-color: #62a748 !important;
}
.P-text-color {
  color: #808080;
}
.Header {
  color: #16320c;
}
.FS-14 {
  font-size: 14px;
}
.text-lightgreen {
  color: #62a748 !important;
}
//
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/utilities";
// $utilities: (
//   "text-color": (
//     property: color,
//     class: hr,
//     values: (
//       green: #429523,
//       header-text-color: #16320c,
//       body-text-color: #0d1e07,
//       light-green: #62a748,
//       dark-grey: #333333,
//       grey1: #808080,
//       grey2: #999999,
//     ),
//   ),
//   "background": (
//     property: background-color,
//     class: bg,
//     values: (
//       green: #429523,
//       header-text-color: #16320c,
//       body-text-color: #0d1e07,
//       light-green: #62a748,
//       dark-grey: #333333,
//       grey1: #808080,
//       grey2: #999999,
//     ),
//   ),
//   "font-size": (
//     property: font-size,
//     class: cfs,
//     values: (
//       18: 1.125rem,
//     ),
//   ),
// );
//
$utilities: map-merge(
  $utilities,
  (
    "border":
      map-merge(
        map-get($utilities, "border"),
        (
          responsive: true,
        )
      ),
    "border-top":
      map-merge(
        map-get($utilities, "border-top"),
        (
          responsive: true,
        )
      ),
    "border-end":
      map-merge(
        map-get($utilities, "border-end"),
        (
          responsive: true,
        )
      ),
    "border-bottom":
      map-merge(
        map-get($utilities, "border-bottom"),
        (
          responsive: true,
        )
      ),
    "border-start":
      map-merge(
        map-get($utilities, "border-start"),
        (
          responsive: true,
        )
      ),
    //
    "rounded":
      map-merge(
        map-get($utilities, "rounded"),
        (
          responsive: true,
        )
      ),
    "rounded-top":
      map-merge(
        map-get($utilities, "rounded-top"),
        (
          responsive: true,
        )
      ),
    "rounded-end":
      map-merge(
        map-get($utilities, "rounded-end"),
        (
          responsive: true,
        )
      ),
    "rounded-bottom":
      map-merge(
        map-get($utilities, "rounded-bottom"),
        (
          responsive: true,
        )
      ),
    "rounded-start":
      map-merge(
        map-get($utilities, "rounded-start"),
        (
          responsive: true,
        )
      ),
  )
);
//
@import "../node_modules/bootstrap/scss/bootstrap.scss";
