body {
  font-family: "Poppins", sans-serif !important;
  letter-spacing: 0.02em;
  background-color: #e5e5e585 !important;
  // background: #e5e5e5 !important;
}
html {
  font-size: 100% !important;
}
@media (max-width: 600px) {
  html {
    font-size: 87.5% !important;
  }
}

.items-border {
  border: 2px solid #429523;
}

//
//
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/utilities";

$utilities: (
  "text-color": (
    property: color,
    class: hr,
    values: (
      green: #429523,
      dark-grey: #333333,
      grey1: #808080,
      grey2: #999999,
    ),
  ),
  "font-size": (
    property: font-size,
    class: cfs,
    values: (
      18: 1.125rem,
    ),
  ),
);
@import "../node_modules/bootstrap/scss/bootstrap.scss";
