body {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.02em;
  background-color: #e5e5e585;
}
.studentbox {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1.6rem 1.6rem;
  img {
    grid-row: 1/-1;
  }
}
.navLogo {
  width: 15.8rem;
  height: 100%;
}
.sidebar--nav {
  width: 15.8rem !important;
}
main {
  padding-top: 1.5rem;
  padding-left: 3.37rem !important;
  padding-right: 3.37rem !important;
  padding-bottom: 6rem;
  // background-color: #e5e5e585;
}
.BorderColor {
  border: 1px solid #808080 !important;
}

.positionCss {
  top: 20px;
  right: 20px;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}
.greenBorderColor {
  border: 1px solid #429523 !important;
}
.littleText {
  font-size: 0.75rem;
  letter-spacing: 0.02em;
}
.HeaderSize {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.02em;
}
.subSize {
  font-size: 0.9rem;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
}
.paraText {
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: 0.02em;
}
.ProfileSubHeader {
  line-height: 1.5rem;
  font-size: 1rem;
  color: #332600;
}
.FilterHeader {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
  line-height: 1.8rem !important;
}
.ResetButton {
  background: #f2f2f2 !important;
  border: 2px solid #e0e0e0 !important;
  border-radius: 5px;
  color: rgba(87, 88, 79, 0.719);
}
.borderActive {
  border: 1px solid #429523;
  border-radius: 5px;
}
.borderNotActive {
  border: 1px solid rgba(189, 189, 189, 0.4);
  border-radius: 5px;
}
.borderColor {
  border-bottom: 2px solid #429523;
}
.Content {
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
}
.shadowEffect:hover {
  box-shadow: -3px 3px 5px rgba(128, 128, 128, 0.2) !important;
  cursor: pointer !important;
}
@media (max-width: 327px) {
  .makeWidth {
    width: 100% !important;
  }
}
@media (max-width: 377px) {
  .extendWidth {
    // width: 100% !important;
  }
}
@media (max-width: 400px) {
  main {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
@media (max-width: 572px) {
  .imgControl {
    height: 200px !important;
    width: 100% !important;
  }
}
@media (max-width: 992px) {
  .MarginBottom {
    margin-bottom: 100px;
  }
  .topGreenBorder {
    box-shadow: -5px 4px 8px rgba(128, 128, 128, 0.75) !important;
  }
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  .offcanvas-backdrop::before {
    display: none !important;
  }
  .sidebar--nav {
    transform: none !important;
    visibility: visible !important;
    top: 0 !important;
    height: calc(100% - 0px);
  }
  .hi {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: end !important;
  }
  main {
    margin-left: 15.8rem !important;
    padding-top: 1.5rem;
    padding-left: 3.37rem !important;
    padding-right: 7.5rem !important;
    padding-bottom: 6rem;
  }
}

.sideLink {
  color: rgba(255, 255, 255, 0.6) !important;
  // &.active {
  //   color: white !important;
  // }
  &:focus {
    color: white !important;
  }
  img {
    // filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(253deg)
    //   brightness(114%) contrast(100%);
    // background-color: white;
    // mask-image: url(../assests/Category.svg);
    // mask-size: cover;
  }
  img {
    filter: brightness(0) invert(1);
  }
}

//
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/utilities";

$utilities: (
  "text-color": (
    property: color,
    class: hr,
    values: (
      base: #f44336,
      green: #429523,
      off-white: #fbfbfb,
      blue: #f3f8ff,
      header-text-color: #16320c,
      body-text-color: #0d1e07,
      light-green: #62a748,
      dark-grey: #333333,
      grey1: #808080,
      grey2: #999999,
      bg-white: #f8f9fa,
      stroke: rgba(189, 189, 189, 0.4),
    ),
  ),
  "background": (
    property: background-color,
    class: bg,
    values: (
      base: #f44336,
      green: #429523,
      off-white: #fbfbfb,
      blue: #f3f8ff,
      header-text-color: #16320c,
      body-text-color: #0d1e07,
      light-green: #62a748,
      dark-grey: #333333,
      grey1: #808080,
      grey2: #999999,
      bg-white: #f8f9fa,
      stroke: rgba(189, 189, 189, 0.4),
    ),
  ),
  "box-shadow": (
    property: box-shadow,
    class: bs,
    values: (
      soft: 0px 4px 8px rgba(128, 128, 128, 0.15),
      hover: 0px 16px 24px rgba(128, 128, 128, 0.2),
    ),
  ),
  "font-size": (
    property: font-size,
    class: cfs,
    values: (
      18: 1.125rem,
    ),
  ),
  "line-height": (
    property: line-height,
    class: clh,
    values: (
      26: 1.625rem,
    ),
  ),
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
