body {
  font-family: "Poppins", sans-serif !important;
  letter-spacing: 0.02em;
  background-color: #e5e5e585 !important;
}
html {
  font-size: 100% !important;
}

.sideLink {
  color: rgba(255, 255, 255, 0.6) !important;
  margin-bottom: 2rem;
  img {
    filter: brightness(0) invert(1);
  }
}
@media (max-width: 600px) {
  html {
    font-size: 87.5% !important;
  }
}
.studentbox {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1.6rem 1.6rem;
  img {
    grid-row: 1/-1;
  }
}
.navLogo {
  width: 15.8rem;
  height: 100%;
}
.sidebar--nav {
  width: 15.8rem !important;
}
main {
  padding-top: 1.5rem;
  padding-left: 3.37rem !important;
  padding-right: 3.37rem !important;
  padding-bottom: 6rem;
}
@media (max-width: 430px) {
  main {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}
@media (max-width: 400px) {
  main {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
@media (max-width: 470px) {
  .AdjustDefaultMainPadding {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  .offcanvas-backdrop::before {
    display: none !important;
  }
  .sidebar--nav {
    transform: none !important;
    visibility: visible !important;
    top: 0 !important;
    height: calc(100% - 0px);
  }
  .hi {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
  }
  main {
    margin-left: 15.8rem !important;
    padding-top: 1.5rem;
    padding-left: 3.37rem !important;
    padding-right: 7.5rem !important;
    padding-bottom: 6rem;
  }
  .AdjustDefaultMainPadding {
    padding-left: 2.06rem !important;
    padding-right: 3.2rem !important;
  }
}

// Main Dashboard
.mainDashboardCards {
  min-width: 300px;
  max-width: 100%;
  background-color: #ffffff;
  border: 1px solid rgba(189, 189, 189, 0.4);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
}
.shapeImage {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &1 {
    background-color: #00aeff;
  }
  &2 {
    background-color: #ea4ada;
  }
  &3 {
    background-color: #076d6f;
  }
}
.Dot {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  &1 {
    background-color: #5b4dbe;
  }
  &2 {
    background-color: #ffbe21;
  }
  &3 {
    background-color: #ff7235;
  }
}
.apexcharts-toolbar,
.apexcharts-legend {
  display: none !important;
}
.CustomGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1rem;
  @media (max-width: 1310px) {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}
// Listing
.borderColor {
  border-bottom: 2px solid #429523;
}
.marginTop {
  margin-top: 1rem;
  @media (max-width: 767px) {
    .marginTop {
      margin-top: 5rem;
    }
  }
}
//modal
.PositionCloseButton {
  top: -3.125rem;
  right: -2.5rem;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}
@media (max-width: 452px) {
  .makeWidth {
    width: 100% !important;
  }
}
// messages main
// custom individual chats room
.GroupRow {
  display: grid;
  width: 100%;
  align-items: center;
  grid-template-columns: 3.75rem 1fr 4.375rem;
  grid-template-columns: minmax(0, 3.75rem) 1fr 4.375rem;
  grid-template-rows: 1.875rem 1.875rem;
  column-gap: 0.625rem;
  text-decoration: none;
  padding: 1rem 0.5rem;
  background-size: 100% 5px;
  cursor: pointer;
  border-radius: 5px;
  margin: 2rem 0;
  box-shadow: 1px 2px 4px rgba(214, 217, 223, 0.5);
}
@media (hover: hover) and (pointer: fine) {
  .GroupRow:hover {
    position: relative;
    background: #c4c4c4;
    box-shadow: 0px 16px 24px rgba(128, 128, 128, 0.2);
  }
  .GroupRow:hover .GroupRowArrow {
    display: block;
  }
  .GroupRow:hover .GroupRowNo {
    width: 80%;
  }
}

.GroupRowImg {
  width: 100%;
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 1/-1;
}

.GroupRowImg img {
  width: 100%;
  height: 100%;
}

.GroupRowTitle {
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-self: flex-end;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
  color: #1f2430;
}
.GroupRowTime {
  font-size: 0.75rem;
}
.GroupRowNo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-column: 2/-1;
  padding: 1.29rem 0rem;
  align-self: center;
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
}
.GroupRowNo span:nth-child(1) {
  margin-right: 0.5rem;
}
.GroupRowNo span:nth-child(2) {
  display: block;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.GroupRowBubble {
  position: absolute;
  right: 0;
  top: 35%;
  color: white;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: #429523;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
// end of custom
// Custom Message Area
.MessageArea {
  padding: 0rem 2rem;
  overflow-y: auto;
}

@media (max-width: 335px) {
  .MessageArea {
    padding: 1rem 0;
  }
}
.MessageAreaDiv {
  color: #797c83;
  text-align: center;
  margin: 1rem 0;
  text-transform: capitalize;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

//
.SpeechSent,
.SpeechReceived {
  max-width: 31.25rem;
  margin-bottom: 0.3125rem;
  border-radius: 0.625rem;
  padding: 0.625rem 1.25rem;
  text-align: center;
  position: relative;
}
.SpeechReceived {
  background: #ecf0f3;
  align-self: flex-start;
  color: #1f2430;
}
.SpeechSent {
  align-self: flex-end;
  cursor: pointer;
  background: #62a748;
  color: #ffffff;
}

.SpeechReceived:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #ecf0f3;
  border-top: 15px solid #ecf0f3;
  border-bottom: 15px solid transparent;
  left: -10px;
  top: 0px;
}

.SpeechSent:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #62a748;
  border-right: 15px solid transparent;
  border-top: 15px solid #62a748;
  border-bottom: 15px solid transparent;
  right: -10px;
  top: 0px;
}
.SpeechBubbleGrid {
  text-align: left;
}

.SpeechBubbleTime {
  font-size: 0.75rem;
  line-height: 1.125rem;
  text-align: center;
  color: #797c83;
  text-transform: capitalize;
}

@media (max-width: 335px) {
  .SpeechReceived,
  .SpeechSent {
    align-self: center;
  }
}
// End Custom Message Area
// Messaging Footer
.MessageFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0rem 0.5rem 1rem;
  border: 1px solid #b5b5b5;
  border-radius: 40px;
  width: 100%;
}
.MessageFooter form {
  background-color: rgba(255, 255, 255, 0.63);
  width: 100%;
  height: 1.875rem;
  border-radius: 20px;
  padding: 0.3rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MessageFooter form input {
  background-color: transparent;
  padding: 0 0.5rem;
  outline: none;
  border: none;
  color: black;
  width: 100%;
  height: 100%;
}
// End of messaging footer

// Analytics section
@mixin AnalyticsNo {
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.Circle1 {
  @include AnalyticsNo();
  background-color: #5cc874;
  color: white;
}
.Circle2 {
  background-color: #e0e0e0;
  @include AnalyticsNo();
  color: black;
}
.Circle3 {
  background-color: #ff3a29;
  @include AnalyticsNo();
  color: white;
}
.Circle4 {
  background-color: #ffe5d3;
  @include AnalyticsNo();
  color: black;
}
.Circle5 {
  background-color: #ffba49;
  @include AnalyticsNo();
  color: white;
}
.Circle6 {
  background-color: #20224f;
  @include AnalyticsNo();
  color: white;
}
.changeLayout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1rem;
  @media (max-width: 1310px) {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/utilities";

$utilities: (
  "text-color": (
    property: color,
    class: hr,
    values: (
      base: #f44336,
      green: #429523,
      off-white: #fbfbfb,
      blue: #f3f8ff,
      header-text-color: #16320c,
      body-text-color: #0d1e07,
      light-green: #62a748,
      dark-grey: #333333,
      grey1: #808080,
      grey2: #999999,
      bg-white: #f8f9fa,
      stroke: rgba(189, 189, 189, 0.4),
    ),
  ),
  "background": (
    property: background-color,
    class: bg,
    values: (
      base: #f44336,
      green: #429523,
      off-white: #fbfbfb,
      blue: #f3f8ff,
      header-text-color: #16320c,
      body-text-color: #0d1e07,
      light-green: #62a748,
      dark-grey: #333333,
      grey1: #808080,
      grey2: #999999,
      bg-white: #f8f9fa,
      stroke: rgba(189, 189, 189, 0.4),
    ),
  ),
  "box-shadow": (
    property: box-shadow,
    class: bs,
    values: (
      soft: 0px 4px 8px rgba(128, 128, 128, 0.15),
      chart: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02),
      hover: 0px 16px 24px rgba(128, 128, 128, 0.2),
    ),
  ),
  "font-size": (
    property: font-size,
    class: cfs,
    values: (
      14: 0.875rem,
      18: 1.125rem,
      24: 1.5rem,
    ),
  ),
  "font-weight": (
    property: font-weight,
    class: fw,
    values: (
      light: $font-weight-light,
      lighter: $font-weight-lighter,
      normal: $font-weight-normal,
      bold: $font-weight-bold,
      bolder: $font-weight-bolder,
      600: 600,
    ),
  ),
  "line-height": (
    property: line-height,
    class: clh,
    values: (
      24: 1.5rem,
      26: 1.625rem,
      28: 1.75rem,
      38: 2.375rem,
    ),
  ),
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
